@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blue: #4da1ff;
    --blue-shade: #6CE1FF; 
    --yellow: #FBFF00;
    --yellow-shade: #fbff00;
    --body-bg: #0079ff; 
    --section: #0088FF;
    --new-bg: #192222;
    --new-bg-other: #192555;
    --test-color: #0079ff;
    --input-color: #0079ff;
    --input-focus-color: #1a86ff;
    --orange: #ff7700;
}

body{
    background-color: var(--test-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    background-color: var(--input-color) !important;
    color:white !important;
    border:1px solid lightgray;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
select:-webkit-autofill,
select:-webkit-autofill:hover{
  border: 1px solid white;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px var(--input-color) inset;
  transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus{
    border: 1px solid white;
    -webkit-text-fill-color: white;
    -webkit-box-shadow: 0 0 0px 1000px var(--input-focus-color) inset;
    transition: background-color 5000s ease-in-out 0s;
}
input::placeholder{
    color: #ccc;
}
input:focus{
    background-color: #1a86ff !important;
}
.gradient-section{
    background-image: linear-gradient(45deg, var(--section) 0%, var(--new-bg-other) 100%);
    border:1px solid var(--blue-shade);
    @apply p-3;
}
.section{
    /*background-color: #140F0F;*/
    background-image: linear-gradient(45deg, var(--section) 0%, var(--new-bg-other) 100%);
    border:1px solid var(--blue-shade);
    @apply p-3;
}

nav{
    @apply p-0;
}
.lazyComponent{
    background-image: linear-gradient(to right, var(--section), #0079ff);
}

.accent-color{
    color: #FBFF00 !important;
}

.accent-color-shade{
    color: #fbff00 !important;
}

.input-error{
    color: red !important;
    font-weight: bold;
    @apply text-xs;
    -webkit-text-fill-color: red !important;
}

.btn{
    background-color: var(--blue-shade);
    color: white;
    text-shadow: black 0px 0px 4px;
    transition: 0.25s all ease-out !important;
    @apply p-2 text-sm;
}

.btn:hover{
    filter: brightness(0.9) !important;
}
input.accent-color-shade{
    background-color: #CCCCCC !important;
}
/* .section h3{
    color: #F7A9A8 !important;
}

.section p{
    color: #F7A9A8 !important;
}

.section hr{
    color: #613F75 !important;
    background-color: #613F75 !important;
    border-color: #EF798A
} */

.section::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  .section::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .section::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .section::-webkit-scrollbar-thumb:hover {
    background: #555;
  }