@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --blue: #4da1ff;
    --blue-shade: #6CE1FF; 
    --body-bg: #0079ff; 
    --section: #0088FF;
    --new-bg: #192222;
    --test-color: #0079ff;
    --input-color: #0079ff;
}

body{
    background-color: var(--body-bg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
    background-color: var(--input-color);
    border:1px solid lightgray;
}

input::placeholder{
    color: #ccc;
}
input:focus{
    background-color: #1a86ff;
}
.gradient-section{
    background-image: linear-gradient(to right, var(--section) 0%, var(--new-bg) 100%);
    border:1px solid var(--blue-shade);
    @apply p-3;
}
.section{
    /*background-color: #140F0F;*/
    background-image: linear-gradient(to right, var(--section) 0%, var(--new-bg) 100%);
    border:1px solid var(--blue-shade);
    @apply p-3;
}

nav{
    @apply p-0;
}
.lazyComponent{
    background-image: linear-gradient(to right, var(--section), #0079ff);
}

.accent-color{
    color: #FBFF00 !important;
}

.accent-color-shade{
    color: #fbff00 !important;
}

input.accent-color-shade{
    background-color: #CCCCCC !important;
}
/* .section h3{
    color: #F7A9A8 !important;
}

.section p{
    color: #F7A9A8 !important;
}

.section hr{
    color: #613F75 !important;
    background-color: #613F75 !important;
    border-color: #EF798A
} */

.section::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  .section::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .section::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .section::-webkit-scrollbar-thumb:hover {
    background: #555;
  }